.gpt3__brands {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.gpt3__brands div {
  flex: 1;
  max-width: 150px;
  min-width: 120px;
  justify-content: center;
  display: flex;
  align-items: center;
}
